/* 
#222831
#393e46
#00adb5
#00fff5
 */

body {
    height: 100dvh;
}

* {
    font-size: 0.9rem;
    /* color: #fff; */
}

.header {
    height: 70px;
    background-color: #8e05c2;
}

.navbar ul li a {
    color: #fff;
    font-size: 1rem;
}

.navbar ul li a:hover {
    color: #fff;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main {
    background-color: #000000;
    height: auto;
    padding: 16px;
    color: #fff;
}

.img-fluid {
    height: 300px;
    width: 300px;
}

.line {
    height: 2px;
    width: 48px;
    border: solid #8e05c2 2px;
    border-radius: 8px;
}