/* 
#222831
#393e46
#00adb5
#00fff5
 */

body {
  height: 100dvh;
  width: auto;
}

* {
  font-size: 0.9rem;
  /* color: #fff; */
}

.header {
  height: 70px;
}

.navbar ul li a {
  color: #fff;
  font-size: 1rem;
}

.navbar ul li a:hover {
  color: #fff;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#main {
  background-color: #000000;
  padding: 16px;
  color: #fff;
}

.img-fluid {
  height: 100%;
  width: 100%;
}

.line {
  height: 2px;
  width: 48px;
  border-radius: 8px;
  border: solid rgb(170, 79, 255) 2px;
}

.icon {
  height: 50px;
  width: 50px;
}

#about {
  background-color: #F8F8FF;
}

.hero-img {
  height: 300px;
  width: 380px;
}

.css-flx {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Tilt Neon', sans-serif;
}

.service-card {
    width:400px;
    height: 250px;
    border-top: 3px #000000 solid;
    background-color: whitesmoke;
}

#services {
  background-color: #FAF0E6;
  text-align: center;
  /* height:100dvh; */
}

#contact {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  /* background-color: #0047AB; */ 
  padding: 20px;
  background-color: #F8F4FF;
}

#contact h2 {
  color: #000000;
}

.mini-icon {
  height: 30px;
  width: 32px;
  background-color: transparent;
}

#mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  height: 30px;
  width: 34px;
  background-color: transparent;
  border: solid 2px #ffffff;
  padding: 2px;
  cursor: pointer;
}

.menu-slashes {
  height: 2px;
  width: 20px;
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
}