/* 
#222831
#393e46
#00adb5
#00fff5
 */

body {
  height: 100dvh;
  width: auto;
}

* {
  text-decoration: none;
  font-size: .95rem;
}

.header {
  height: 70px;
}

.navbar ul li a {
  color: #fff;
  font-size: 1rem;
}

.navbar ul li a:hover {
  color: #fff;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#main {
  background-color: #000000;
  padding: 16px;
  color: #fff;
}

.img-fluid {
  height: 300px;
  width: 340px%;
  object-fit: cover;
}

.line {
  height: 2px;
  width: 48px;
  border-radius: 8px;
  border: solid rgb(170, 79, 255) 2px;
}

.icon {
  height: 50px;
  width: 50px;
}

#about {
  background-color: #F8F8FF;
}

.hero-img {
  height: 300px;
  width: 380px;
}

.css-flx {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Tilt Neon', sans-serif;
}

.service-card {
    width:400px;
    height: 250px;
    border-top: 3px #000000 solid;
    background-color: whitesmoke;
}

#services {
  background-color: #FAF0E6;
  /* height:100dvh; */
}

#contact {
  padding: 20px;
  background-color: #F8F4FF;
}

#contact h2 {
  color: #000000;
}

.mini-icon {
  height: 30px;
  width: 32px;
  background-color: transparent;
}

#mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  height: 30px;
  width: 34px;
  background-color: transparent;
  border: solid 2px #ffffff;
  padding: 2px;
  cursor: pointer;
}

.menu-slashes {
  height: 2px;
  width: 20px;
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
}

.pic-under {
  position: relative;
  width: 400px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  background-image: url('visit.jpg'); /* Replace 'your_image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  color: white; /* Text color */
  text-align: center;
  padding-top: 100px;
  border-radius: 16px;
  box-shadow: 0 0 16px #232323;
}

.text-over {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.pic-under:hover {
  box-shadow: 0 0 32px #232323;
  filter: brightness(70%);
}

#blog {
  background-color: #000000;
  color: #ffffff;
}

#search {
  height: 40px;
  width: 300px;
  border: #232323 2px solid;
  border-radius: 32px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

#search-bar {
  height: 30px;
  width: 250px;
  border: none;
  color: #ffffff;
  background-color: transparent;
  color: black;
}

#search-bar:active {
  border: none;
}

#search img {
  background-color: transparent;
}

#subscribe {
  height: 60px;
  width: 220px;
  text-align: center;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 32px;
}

#subscribe:hover {
  cursor: pointer;
  box-shadow: 0 0 16px yellow;
  border: solid red 3px;
  background-color: transparent;
  color: red;
}


.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: top;
}

.ad {
  height: 50px;
  color: #fff;
  text-align: center;
}

#go-back {
  border-radius: 50%;
}

.services-projects-btn {
  border-radius: 24px;
}

.services-reviews-btn {
  border-radius: 24px;
}
.services-reviews-btn:hover {
  border: solid 2px #414141;
  color: #000000;
}